<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido al Cine Virtual</title>
    <link rel="stylesheet" href="css/estilos.css">
    <style>
        /* 🎬 Estilos simples para que se vean ordenadas las imágenes */
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
        }

        img {
            width: 150px;
            height: auto;
            border-radius: 10px;
            margin-right: 10px;
            vertical-align: middle;
        }

        li span {
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/cartelera">Cartelera</a>
        <a href="/horarios">Horarios</a>
    </nav>
</header>

<main>
    <h3>📖 Cartelera</h3>
    <ul>
        <li>
            <img src="img/avatar.jpg" alt="Avatar">
            <span>Avatar</span>
        </li>

        <li>
            <img src="img/lord.jpg" alt="El Señor de los Anillos">
            <span>El Señor de los Anillos</span>
        </li>

        <li>
            <img src="img/interstellar.jpg" alt="Interestelar">
            <span>Interestelar</span>
        </li>
    </ul>
</main>
</body>
</html>
