<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear categorías</title>
</head>
<body>
<h1>Crear categorías</h1>
<form th:action="@{/categorias/save}" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" value="">
    <br>
    <label for="descripcion">Descripción</label>
    <input type="text" id="descripcion" name="descripcion" value="">
    <br>
    <input type="submit" value="Guardar">
</form>
</body>
</html>

